html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* typography */
h2 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

/* chevron icon */
.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.25em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.25em;
    margin-top: 4px;
    margin-left: 4px;
}

.chevron::before {
    top: 0;
    transform: rotate(135deg);
}

/* logo */
.logo {
    height: 38px;
    /* margin: 32px 24px; */
    transition: transform .2s;
    width: 38px;
}

.logo:hover {
    transform: rotate(360deg);
}

@media screen and (min-width: 600px) {
    .logo {
        /* margin: 25px 15px; */
        height: 50px;
        width: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        /* margin: 15px 27px; */
        height: 60px;
        width: 60px;
    }
}

/* products menu */
.products {
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bold;
}

/* menu toggle */
.menuToggle {
    display: inline-block;
    cursor: pointer;
}

.line1,
.line2,
.line3 {
    width: 30px;
    height: 4px;
    background: black;
    margin: 6px;
}

/* navigation bar */

.nav {
    display: flex;
    background: #0065c3;
    justify-content: space-between;
    align-items: center;
    padding: 30px 24px;
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .nav {
        font-size: 1.4rem;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 01/03/2022 */
/* section */
section {
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
}

/* video button */
.video {
    align-items: center;
    background-color: #0065c3c7;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    justify-content: center;
    /* padding: 18px 0 5px 0; */
    padding-top: 15px;
    /* position: absolute; */
    /* right: 33vw; */
    text-transform: uppercase;
    /* top: 74vw; */
    /* height: 20vw;
    width: 35vw; */
    width: 111px;
    height: 70px;
    z-index: 1;
    cursor: pointer;
}

.video__playBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    z-index: 1;
}

.video__playBtn {
    width: 20px;
    height: 20px;
    background: white;
    /* z-index: 1; */
    margin-left: 4px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

/* frame #1 */
.frame-one {
    /* height: 100vh; */
    height: 190vw;
    background-image: url(../images/floor.png), url(../images/mobile-background@2x.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom -100px center, top center;
    position: relative;
    /* background-position: -8px 0; */
}

.frame-one__pepsi-title {
    background-image: url(../images/pepsi-title.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 10vw;
    right: 12.8vw;
    /* height: 30vh;
    width: 70vw; */
    width: 70vw;
    height: 56vw;
}

.frame-one__video {
    background-image: url(../images/thumbnail@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53.59vw;
    height: 29.28vw;
    position: absolute;
    top: 73vw;
    right: 23.3vw;
    cursor: pointer;
    z-index: 1;
}

.frame-one__video__image {
    /* position: absolute; */
    /* top: 73vw; */
    /* right: 23.3vw; */
    width: 53.59vw;
    height: 29.28vw;
}

.frame-one__LTO {
    /* background-image: url(../images/mobile-lto-button@2x.png);
    background-repeat: no-repeat;
    background-size: cover; */
    width: 80px;
    height: 80px;
    position: absolute;
    right: 16vw;
    top: 107vw;
    z-index: 1;
    /* z-index: 2; */
    /* border: 2px solid black; */
}

.frame-one__LTO__logo {
    width: 100%;
    /* border: 1px dotted tomato; */
}


/* 01/06/2022 */
/* cream soda */
.frame-one__CSC {
    background-image: url(../images/cream-soda@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    width: 52.18vw;
    height: 59.68vw;
    position: absolute;
    bottom: 27vw;
    left: 7.7vw;
    z-index: 2;
}

.frame-one__BCC {
    position: absolute;
    right: 1.8vw;
    bottom: 2vw;
    background-image: url(../images/black-cherry@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: right bottom; */
    width: 52.18vw;
    height: 59.68vw;
    z-index: 2;
}

@media screen and (min-width: 390px) {
    .frame-one {
        height: 210vw;
    }

    .frame-one__pepsi-title {
        /* top: 10vw; */
        right: 15vw;
        width: 65vw;
        height: 51vw;
    }

    .frame-one__video {
        top: 65vw;
    }

    .frame-one__LTO__logo {
        display: none;
    }

    .frame-one__LTO {
        background-image: url(../images/mobile-lto-button@2x.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 26vw;
        height: 27vw;
        top: 97.5vw;
        right: 12vw;
    }

    .frame-one__CSC {
        width: 62.05vw;
        height: 71.03vw;
        left: 1vw;
        bottom: 40vw;
    }

    .frame-one__BCC {
        width: 61.78vw;
        height: 66.15vw;
    }
}

@media screen and (min-width: 768px) {
    .frame-one {
        background-image: url(../images/floor@3x.png), url(../images/tablet-background@3x.png);
        background-repeat: no-repeat;
        background-position: bottom -20vw center, top center;
        height: 130vw;
    }

    .frame-one__pepsi-title {
        background-image: url(../images/pepsi-title@2x.png);
        background-repeat: no-repeat;
        width: 58vw;
        height: 44vw;
        right: 18vw;
    }

    .frame-one__video {
        width: 34.98vw;
        height: 19.4vw;
        top: 57vw;
        right: 32.3vw;
    }

    .frame-one__LTO {
        background-image: url(../images/desktop-lto-button@3x.png);
        background-repeat: no-repeat;
        width: 23.47vw;
        height: 12.1vw;
        top: 2rem;
        left: 0;
    }

    .frame-one__CSC {
        width: 45.63vw;
        height: 52.22vw;
        bottom: 1rem;
        left: 2rem;
    }

    .frame-one__BCC {
        width: 45.63vw;
        height: 52.22vw;
        bottom: -1.6rem;
        right: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .frame-one {
        background-image: url(../images/background-desktop@3x.png);
        background-size: auto 100%;
        background-position: top;
        height: 668px;
        display: flex;
    }

    .frame-one__pepsi-title {
        background-image: url(../images/pepsi-title@3x.png);
        width: 289px;
        height: 395px;
        align-self: center;
        margin-top: 30px;
        position: unset;
    }

    .frame-one__video {
        margin-top: 30px;
        width: 268px;
        height: 149px;
        position: unset;
        align-self: center;
    }

    .frame-one__LTO {
        /* display: none; */
        width: 181px;
        height: 93px;
    }

    .frame-one__CSC {
        /* display:none; */
        width: 404px;
        height: 464px;
        bottom: 0;
        left: -3.7vw;
    }

    .frame-one__BCC {
        /* display:none; */
        width: 404px;
        height: 464px;
        bottom: -30px;
        right: -3.7vw;
    }
}

@media screen and (min-width: 1280px) {
    .frame-one__video {
        width: 306px;
        height: 170px;
    }

    .frame-one__CSC {
        width: 447px;
        height: 511px;
        left: 33px;
        bottom: 24px;
    }

    .frame-one__BCC {
        width: 447px;
        height: 511px;
        right: 32px;
        bottom: -6px;
    }
}

@media screen and (min-width: 1366px) {
    .frame-one__video {
        width: 313px;
        height: 174px;
    }

    .frame-one__LTO {
        width: 181px;
        height: 94px;
    }

    .frame-one__CSC {
        width: 485px;
        height: 554px;
        left: 0;
        bottom: 14px;
    }

    .frame-one__BCC {
        width: 485px;
        height: 554px;
        right: 0;
        bottom: -20px;
    }
}

@media screen and (min-width: 1920px) {
    .frame-one {
        height: 980px;
    }

    .frame-one__pepsi-title {
        width: 427px;
        height: 583px;
    }

    .frame-one__video {
        width: 438px;
        height: 242px;
        margin-top: 55px;
    }

    .frame-one__LTO {
        width: 266px;
        height: 138px;
    }

    .frame-one__CSC {
        width: 684px;
        height: 782px;
        bottom: 56px;
        left: 30px;
    }

    .frame-one__BCC {
        width: 684px;
        height: 782px;
        bottom: 6px;
        right: 30px;
    }
}

/* 01/07/2023 */
/* frame two */
.frame-two {
    background-image: url(../images/frame-two-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9.375vw 0;
}

.frame-two__introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-two__title {
    width: 50vw;
}

.frame-two__img-container {
    margin-top: 2px;
    display: flex;
    align-items: center;
    width: 50vw;
}

.frame-two__img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .frame-two {
        flex-direction: row-reverse;
        background-image: url(../images/frame-two-background@2x.png);
        padding: 40px 0;
    }

    .frame-two__introduction {
        margin-left: 15px;
    }

    .frame-two__title {
        width: 276px;
        height: auto;
    }

    .frame-two__img-container {
        width: auto;
    }

    .frame-two__img {
        width: 275px;
        /* height: 398px; */
    }
}

@media screen and (min-width: 1024px) {
    .frame-two__title {
        width: 376px;
    }

    .frame-two__img {
        width: 375px;
    }
}

@media screen and (min-width: 1366px) {
    .frame-two__introduction h2 {
        font-size: 2.4rem;
    }

    .frame-two__title {
        width: 524px;
    }

    .frame-two__img {
        width: 523px;
    }

    .frame-two__link {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1920px) {
    .frame-two__title {
        width: 690px;
    }

    .frame-two__img {
        width: 690px;
    }
}

/* button */
.btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 1rem 3rem;
    font-size: 1.4rem;
}

/* 01/10/2023 */
/* frame three */
.frame-three {
    background-image: url(../images/frame-three-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120;
    padding-top: 25px;
}

.frame-three__introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-three__title {
    width: 60vw;
}

/* found the problem, we should group video and title together instead*/
.frame-three__video {
    background-image: url(../images/frame-three-videoBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 45vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.frame-three__img {
    width: 50vw;
    margin-top: 60px;
}

@media screen and (min-width: 735px) {
    .frame-three {
        flex-direction: row-reverse;
        height: 70vw;
        padding-top: 0;
    }

    .frame-three__introduction {
        margin-left: 50px;
    }

    .frame-three__title {
        width: 40vw;
    }

    .frame-three__video {
        width: 22vw;
        height: 13vw;
    }

    .frame-three__img {
        width: 11.59vw;
        margin-top: 90px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 815px) {
    .frame-three {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 70px;
        height: 50vw;
    }

    .frame-three__introduction {
        margin-left: 0;
    }

    .frame-three__title {
        width: 56vw;
    }

    .frame-three__video {
        width: 28vw;
        height: 15vw;
    }

    .frame-three__img {
        width: 22.59vw;
        margin-right: 0;
        margin-top: 27px;
    }
}

/* frame four */
/* .frame-four{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #0065c3;
    height: 164vw;
}

.frame-four__backgroundGroup1{
    position: relative;
}

.frame-four__background1{
    width: 100%;
    object-fit: cover;
}

.frame-four__hashTag{
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.frame-four__backgroundGroup2{
    list-style: none;
    margin: 0;
    padding: 5vw 0;
    height: 100%;
}

.frame-four__background2,
.frame-four__background3{
    width: 95vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-four__background2{
    background-image: url(../images/frame-four-background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.frame-four__background3{
    background-image: url(../images/frame-four-background3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.frame-four__BWP{
    background-color: #1437bf;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
} */

/* updated frame four: 01/13/2023 */
.frame-four{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 163vw;
}

.frame-four__backgroundGroup1{
    position: relative;
}

.frame-four__background1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame-four__hashTag{
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.frame-four__backgroundGroup2{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    background-color: #0065c3;
    width: 100%;
}

.frame-four__backgroundGroup2 ul{
    margin: 20px;
    padding: 0;
}

.frame-four__background2,
.frame-four__background3{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.frame-four__backgroundImg{
    width: 100%;
}

.frame-four__BWP{
    background-color: #1437bf;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

/* positioning */
.position-abs-center{
    position: absolute;
}

@media screen and (min-width: 1024px){
    .frame-four{
        flex-direction: row-reverse;
        height: auto;
        background-color: #0065c3;
    }

    .frame-four__backgroundGroup1{
        background-image: url(../images/frame-four-background1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 196vw;
        height: 44vw;
    }
    
    .frame-four__background1{
        display: none;
    }
}

/* frame five: 01/13/2023 */
.frame-five{
    background-image: url(../images/frame-five-background.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover ;
    position: relative;
    height: 174vw;
}

.frame-five__background-decoration1{
    background-image: url(../images/frame-five-background-decoration1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    height: 17vw;
    width: 21vw;
    position: absolute;
    right: 6vw;
    top: 4vw;
}

.frame-five__background-decoration2{
    background-image: url(../images/frame-five-background-decoration2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 139vw;
    width: 63vw;
    position: absolute;
    right: 0;
    bottom: 0;
}

.frame-five__background-decoration3{
    background-image: url(../images/frame-five-background-decoration3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 57vw;
    width: 82vw;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.frame-five__background-decoration4{
    background-image: url(../images/frame-five-background-decoration4.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 21vw;
    width: 25vw;
    position: absolute;
    left: 6vw;
    bottom: 66vw;
}

.frame-five__introduction{
    padding: 5vw 0 0 5vw;
}

.frame-five__heading{
    width: 60vw;
}

.frame-five__video{
    background-image: url(../images/frame-five-video-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 47vw;
    height: 26vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-five__video__background{
    width: 5vw;
}