<section class="frame-nine">
    <h2 class="frame-nine__heading">stay on the pulse. follow Pepsi.</h2>
    <div class="photoGallery">
        <div class="frame-nine__img-container">
            <a href="https://www.twitter.com/pepsi" target="_blank">
                <img class="frame-nine__img" src="images/frame-nine-social-twitter.png" alt="">
            </a>
            <img src="images/icon-twitter.svg" alt="" class="icon">
        </div>
        <div class="frame-nine__img-container">
            <a href="https://www.facebook.com/PepsiUS" target="_blank">
                <img class="frame-nine__img" src="images/frame-nine-social-facebook.png" alt="">
            </a>
            <img src="images/icon-facebook.svg" alt="" class="icon">
        </div>
        <div class="frame-nine__img-container">
            <a href="https://www.instagram.com/pepsi" target="_blank">
                <img class="frame-nine__img" src="images/frame-nine-social-instagram.png" alt="">
            </a>
            <img src="images/icon-instagram.svg" alt="" class="icon">
        </div>
        <div class="frame-nine__img-container">
            <a href="https://www.youtube.com/user/Pepsi" target="_blank">
                <img class="frame-nine__img" src="images/frame-nine-social-youtube.png" alt="">
            </a>
            <img src="images/icon-youtube.svg" alt="" class="icon">
        </div>
        <div class="frame-nine__img-container">
            <a href="https://www.tiktok.com/@pepsi" target="_blank">
                <img class="frame-nine__img" src="images/frame-nine-social-tiktok.png" alt="">
            </a>
            <img src="images/icon-tiktok.svg" alt="" class="icon">
        </div>
    </div>
</section>