<section class="frame-eight">
    <img class="frame-eight__img-desktop" src="images/frame-eight-img-desktop.png" alt="">
    <img class="frame-eight__img-mobile" src="images/frame-eight-img.png" alt="">
    <div class="frame-eight__description">
        <h2 class="frame-eight__heading">
            <span>all your</span> 
            <span>favorite flavors.</span> 
            <!-- <span></span> -->
            <span>all right here.</span>
        </h2>
        <p class="frame-eight__products-description">
            Pepsi. Diet Pepsi. Pepsi Zero Sugar. The gang’s all here. Compare flavors, get nutritional facts and check
            out ingredients for all our Pepsi products.
        </p>
        <!-- <div class="btn"></div> -->
        <button class="btn">View Products</button>
    </div>
</section>